body{
	font-family: Oswald;
}
h1{
	font-family: "Playfair Display", serif;
	font-size: 2.4rem;
}
article img{
	max-width: 100%;
	width: 100%;
}

@media (min-width: 60em){
	section{
		display: flex;
		flex-direction: row; /* row-reverse */
	}
	article{
		flex: 1 1 200px;
		padding: 0.5em;
		/*
			flex-grow: 1;
			flex-shrink: 1;
			flex-basis: 200px;
		*/
	}
	section article:first-child{
		flex-grow: 2;
	}
}